[Unit]
Description=thscripts web api
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/thscripts/web/api/
Environment="VIRTUAL_ENV=VIRT_ENV"
Environment="PATH=VIRT_ENVbin:SYS_PATH"
EnvironmentFile=/usr/local/thscripts/etc/th-api.conf
ExecStart=/usr/local/thscripts/.venv/bin/python api.py $THAPI_HOST $THAPI_PORT &> $THAPI_LOGS
Restart=always

[Install]
WantedBy=multi-user.target